
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap');


.container {
  padding: 0 0.5rem;
  display: flex;
  flex: 1;
  flex-direction: column;
  background-color: #292442;
  font-family: 'Roboto Mono', monospace;
}

.header {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 5em;
  height: 100vh;
  justify-content: space-between;
}

.headerTitle_container {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  max-width: 1200px;
  width: 100%;
  height: 400px;
  justify-content: space-around;
}

.headerTitle_container > span {
  font-size: 10rem;
  font-weight: bold;
  color: #fafafa;
  text-shadow: 0 0 15px #c452ff, 0 0 1px;
  animation-name: blidingAuthor;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  cursor: default;
}

@keyframes blidingAuthor {
  0% {text-shadow: 0 0 0px #c452ff, 0 0 6px;}
  25% {text-shadow: 0 0 10px #c452ff, 0 0 8px;}
  50% {text-shadow: 0 0 15px #c452ff, 0 0 10px;}
  75% {text-shadow: 0 0 10px #c452ff, 0 0 8px;}
  100% {text-shadow: 0 0 0px #c452ff, 0 0 6px;}
}

.headerTitle {
  display: flex;
  cursor: default;
  flex-direction: column;
  justify-content: center;
}

.headerTitle > h1 {
  color: #c452ff;
  letter-spacing: 2px;
  margin: 0;
  text-shadow: 0 0 11px #c452ff, 0 0 5px;
}

.headerTitle > p {  
  color: #fafafa;
  font-size: 3rem;
  font-weight: bold;
  margin: 0;
}

.waveContainer {
  display: flex;
  position: relative;
  height: 300px;
  width: 100%;
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.aboutMe {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.aboutMe_inf {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 750px;
  background-color: #594d9328;
  border-radius: 5px;
  padding: 2em;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  backdrop-filter: blur(5.5px);
}

.aboutMe_inf > h2 {
  font-weight: bold;
  color: #28d9ff;
  letter-spacing: 1px;
  text-shadow: 0 0 11px #28d9ff, 0 0 5px;
  cursor: default;
}

.aboutMe_inf > p {
  color: #fafafa;
  text-align: start;
  cursor: default;
}

.skillsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding-top: 4em;
}

.skillsContainer > h2 {
  color: #f7f26e;
  text-shadow: 0 0 11px #f7f26e, 0 0 5px;
  letter-spacing: 1px;
  cursor: default;
}

.skills_set {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  gap: 2em;
  max-width: 1300px;
  width: 100%;
  margin-top: 1em;
  padding: 2em;
  background-color: #594d9328;
  border-radius: 5px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  backdrop-filter: blur(5.5px);
}

.skill_card {
  border: 1px solid #564b8e;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 400px;
  padding: 1em;
  color: #fafafa;
  transition: 0.2s ease;
}

.skill_card > p {
  cursor: default;
}

.skill_card:hover {
  transform: scale(1.03);
  box-shadow: 0 0 11px #564b8e, 0 0 5px;
}

.footer {
  width: 100%;
  display: flex;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
}


@media(max-width: 1000px) {
  .headerTitle_container {
    flex-direction: column-reverse;
  }

  .aboutMe {
    flex-direction: column-reverse;
  }

  .bunny_tech {
    display: none;
  }

  .skills_set {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 630px) {
  .skills_set {
    grid-template-columns: auto;
  }
}